---
layout: default
title:
description: 收集和记录前端开发的点点滴滴。
keywords: CSS,CSS3,HTML5,HTML,Javascript
isIndex: true
name: index
id: index
---
<ul class="post-listing">
	{% for post in paginator.posts %}
	<li class="post-item">
		<article class="post">
		<div class="entry">
			<h2 class="post-title">
			    <span class="time">{{ post.date | date_to_utc | date: "%Y-%m-%d" }}</span>
				<span class="cat">[<a href="/categories/?category={{ post.category | slugize }}">{{ post.category }}</a>]</span>
				<a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
				{% if post.categories %} • {% include category_links.html %}{% endif %}
			</h2>
		</div>
        <div class="post-content">
          {{ post.excerpt }}
        </div>
		</article>
	</li>
	{% endfor %}
</ul>
 {% include pagination.html %}
