---
layout: default
title:
description: 收集和记录前端开发的点点滴滴。
keywords: CSS,CSS3,HTML5,HTML,Javascript
isIndex: true
name: index
---
<ul class="post-listing">
	{% for rpost in site.posts limit:5 %}
	<li class="post-item">
		<article class="post">
		<div class="entry">
			<h2 class="post-title">
				<a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a>
			</h2>
			<div class="post-info">
				<span class="inpost-date"><time pubdate="{{ rpost.date | date_to_utc | date: '%Y-%m-%d' }}">{{ rpost.date | date_to_utc | date: "%Y-%m-%d" }}</time></span>
				<span class="cat-info pi">Cat: <a href="/categories/{{ rpost.category | slugize }}">{{ rpost.category }}</a></span>
				<span class="tag-list pi">Tags:{% for tag in rpost.tags %}<a href="/tags/{{ tag  | slugize}}" class="tag-item">{{ tag }}</a>{% endfor %}</span>
			</div>
		</div>

		<div class="post-content">
			<p>{{ rpost.description }}<a href="{{ rpost.url }}" title="Read More" rel="nofollow" class="v-more"><span>&#10149;</span>Read More</a></p>
		</div>
		</article>
	</li>
	{% endfor %}
	
	{% for npost in site.posts limit:10 offset:5  %}
	<li class="post-item">
		<article class="post">
			<div class="entrytop">
				<div class="entry">
				<h2 class="post-title"><span class="inpost-date"><time pubdate="{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}">{{ npost.date | date_to_utc | date: "%Y-%m-%d" }}</time></span><a href="{{ npost.url }}" title="{{ npost.title }}" rel="bookmark">{{ npost.title }}</a></h2>
				</div>
			</div>
		</article>
	</li>
	{% endfor %}
</ul>	