<div class="post">
  <h1 class="post-title2"><a href='{{page.url}}'>{{page.title}}</a></h1>
  <div class="meta">
      <span class="time">{{ post.date | date_to_utc | date: "%Y-%m-%d" }}</span> • <span class="cat"><a href="/category/{{ post.category | slugize }}">{{ post.category }}</a></span>
      <span class="tag-list">Tags:{% for tag in page.tags %}<a href="/tag/{{ tag| slugize }}" class="tag-item">{{ tag }}</a>{% endfor %}</span>
  </div>		
  <div class="post-content">
    {% if page.img %}
      <img src="{{page.img}}" alt="" />
    {% endif %}
  
    {{ content }}
  </div>
  
  <nav class="v-pagination">
  	{% if page.next %}
	<a class="next" href="{{ page.next.url }}" rel="bookmark">Next:{{ page.next.title | truncatewords:5 }}</a>
	{% endif %}
    <br />
	{% if page.previous %}
	<a class="prev" href="{{ page.previous.url }}" rel="bookmark">Previous:{{ page.previous.title | truncatewords:5 }}</a>
	{% endif %}
 </nav>
 
</div>
<script type="text/javascript" charset="utf-8">
  var disqus_url = "http://lxj.name{{page.url}}";
  var disqus_developer = 1;
</script>

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/lxj/embed.js"></script>
<noscript><a href="http://disqus.com/forums/lxj/?url=ref">View the discussion thread.</a></noscript>
<div style="padding-left:20px;display:none"><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a></div>
