---
author: SeanLou
desc: 关注前端开发
---

{% include header.html %}

      <section id="bd">

		<section id="main">
		{{ content }}
		</section>
	
		<aside id="siderbar">

			<section class="sidebar-module">
				<h2 class="sidebartitle"><a href='/about.html'>关于我</a></h2>
				<p>Email(gtalk):<a href="mailto:louxiaojian@gmail.com">louxiaojian#gmail.com</a></p>
				<p><a href="http://weibo.com/louxiaojian">sina</a>&nbsp;<a href="https://github.com/lxj">github</a>&nbsp;<a href="http://twitter.com/louxiaojian">twitter</a>&nbsp;<a href="http://www.flickr.com/photos/louxiaojian">flickr</a>&nbsp;<a href="http://www.douban.com/people/louxiaojian/">douban</a>
				</p>
			</section>

		</aside>

	 
      </section>

{% include footer.html %}


