---
author: SeanLou
desc: 关注前端开发
---
{% include header.html %}


      <section id="bd">

		<section id="main">	
		{{ content }}
		</section>
	
		<aside id="siderbar">

			<section class="sidebar-module">
				<h2 class="sidebartitle"><a href='/about.html'>关于我</a></h2>
				<p>Email(gtalk):<a href="mailto:louxiaojian@gmail.com">louxiaojian#gmail.com</a></p>
				<p><a href="http://weibo.com/louxiaojian">sina</a>&nbsp;<a href="https://github.com/lxj">github</a>&nbsp;<a href="http://twitter.com/louxiaojian">twitter</a>&nbsp;<a href="http://www.flickr.com/photos/louxiaojian">flickr</a>&nbsp;<a href="http://www.douban.com/people/louxiaojian/">douban</a>
				</p>
			</section>

			<section class="sidebar-module">
				<h2 class="sidebartitle"><a href='/tags'>Tags</a></h2>
				<div style="line-height:1.2">
				{% tag_cloud %}
				</div>
			</section>

			<section class="sidebar-module">
				<h2 class="sidebartitle"><a href='/categories'>Categories</a></h2>
				<ul class="t-list">
				{% category_list %}
				</ul>
			</section>

			<section class="sidebar-module">
				<h2 class="sidebartitle"><a href='/archives'>Archives</a></h2>
				<ul class="new-t-list t-list">
				{% monthly_archives %}
				</ul>
			</section>

		</aside>

	 
      </section>

      {% include footer.html %}
